body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.theme-green {
  background-color: #849d8f;
}

.theme-blue {
  background-color: #8996a6;
}

.theme-pink {
  background-color: #9d8b84;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
  outline: 1px solid red;
  ;
}

.main-header {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  margin-top: 9px;
}

.logo {
  width: 154px;
  height: 64px;
}

.main-header__main-nav {
  margin-left: 10px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav__item {
  position: relative;

  padding: 5px 0;
}

.site-nav__item:hover .sub-menu {
  /* .site-nav__link:focus-within ~ .sub-menu { */
  visibility: visible;
}


.site-nav__link {
  display: inline-block;
  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 15px;
}

.site-nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(173, 189, 180, 0.2);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  width: 0%;
}

.site-nav__link_current {
  color: #ffffff;
  background-color: #d07058;
}

.site-nav__link:hover:not(.site-nav__link_current) {
  color: #333333;
  background-color: #f7f6f3;
}

.site-nav__link:active:not(.site-nav__link_current) {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.sub-menu {
  position: absolute;
  top: 42px;
  left: -7px;
  visibility: hidden;

  min-width: 143px;
  margin: 0;
  padding: 3px 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  list-style: none;
}

.sub-menu__item {
  padding: 2px 0;
}

.sub-menu__item_group {
  margin-left: 6px;
  margin-right: 6px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.sub-menu__item_current {
  color: #ffffff;
  background-color: #d07058;
}

.sub-menu__link {
  display: block;
  padding: 6px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sub-menu__link_group {
  font-weight: 700;
}

.sub-menu__link:hover:not(.sub-menu__link_current):not(.sub-menu__link_group) {
  background-color: #fbded7;
}

.sub-menu__link:active:not(.sub-menu__link_current):not(.sub-menu__link_group) {
  background-color: #f6b5a5;
}

.main-header__user-nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.user-nav__item {
  position: relative;
  margin-right: 10px;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__link {
  padding: 8px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.user-nav__link:hover {
  color: #323232;
  background-color: rgb(248, 247, 244);
}

.main-header__contacts {
  position: absolute;
  right: 0;
  top: 64px;
}

.header-contacts {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contacts__phone {
  margin-top: 6px;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.header-contacts__phone:hover,
.header-contacts__phone:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.special-offers {
  position: relative;
}

.special-offers__list {
  margin: 0;
  margin-top: -73px;
  padding: 0;

  list-style: none;
}

.special-offers__item {
  position: relative;
  text-align: center;
}

.special-offers__text-wrapper {
  margin: 0;
  position: absolute;
  top: 390px;
  left: 240px;
}

.special-offers__title {
  max-width: 673px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60.35px;
}

.special-offers__img-wrapper {
  position: relative;
  z-index: -1;

  margin: 0;
}

.special-offers__controll {
  position: absolute;
  top: 563px;
}

.slider-controll {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;

  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-image: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    -moz-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    -webkit-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    -ms-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);

  box-shadow: inset 0px 2px 2px 0px #942718;
}

.button_big {
  padding: 12px 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 40px;
}

.promo {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  margin-top: -240px;
  margin-bottom: 30px;
}

.promo__item {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 16px 20px;
  box-sizing: border-box;

  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.promo__item_raspberry {
  background-image: url(../img/bg-raspberries.jpg);
}

.promo__item_chocolate {
  background-image: url(../img/bg-chocolate.jpg);
}

.promo__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  margin: 0;
  margin-bottom: 43px;

  font-style: 18px;
}

.promo__button {
  align-self: flex-end;
  margin-bottom: 7px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  text-align: center;
}

.products__img {
  position: relative;

  order: -1;
  width: 267px;
  height: 267px;
  margin-bottom: 15px;

  border-radius: 50%;
}

.products__price {
  position: absolute;
  top: 214px;
  left: 0;

  margin: 0;

  font-size: 45px;
  line-height: 50px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.products__weight {
  font-size: 30px;
  line-height: 50px;
}

.products__button {
  margin-bottom: 20px;
}

.products__hover-content {
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-items: center;
  width: 293px;
  padding: 6px 13px;
  box-sizing: border-box;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.products__hover-content .products__price {
  top: 220px;
  left: 13px;
}

.products__hover-content .products__title {
  margin-bottom: 17px;
}

.products__item:hover .products__hover-content {
  display: flex;
}

.features {
  margin-bottom: 40px;
  padding: 25px 20px;

  color: #323232;

  background-color: #eee1c6;
  background-image: url(../img/bg-wafer.jpg);
  border-radius: 20px;
}

.features__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 22px;
  padding-left: 57px;
  width: 540px;
  box-sizing: border-box;

  font-weight: 400;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news {
  width: 560px;
  padding: 25px 20px;
  box-sizing: border-box;

  background-color: #fff;
  background-image: url(../img/bg-strawberry.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.news__title {
  margin: 0;
  margin-bottom: 2px;

  font: inherit;
  font-weight: 500;
  color: #323232;
}

.news__link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news__link:hover,
.news__link:active {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.subscribe {
  width: 560px;
  padding: 5px 6px;
  box-sizing: border-box;

  background-color: #e0d6dd;
  background-image: repeating-linear-gradient(135deg,
      #f8f7f4 0px, #f8f7f4 7px,
      #92cdff 7px, #92cdff 14px,
      #f8f7f4 14px, #f8f7f4 21px,
      #fe9e90 21px, #fe9e90 28px);
  border-radius: 20px;
}

.subscribe__wrapper {
  padding: 30px 20px;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form {
  display: flex;
  margin-bottom: 5px;
}

.subscribe-form__wrapper {
  margin: 0;
}

.subscribe-form__input {
  width: 368px;
  padding: 8px 14px;
  margin-right: 10px;
  box-sizing: border-box;

  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.contacts.container {
  position: relative;
  padding: 0;
}

.contacts__img {
  width: 1200px;
  height: 430px;
}

.contacts__text-wrapper {
  position: absolute;
  top: 62px;
  right: 27px;

  width: 302px;
  padding: 30px 25px;
  box-sizing: border-box;
  
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  
  background-color: #f1f3f1;
  border-radius: 25px;
}

.contacts__text {
  margin: 0;
}

.contacts__text-address {
  margin-bottom: 18px;
}

.contacts__text-phone {
  margin-bottom: 24px;
}

.contacts__address,
.contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__button {
  padding: 10px 28px;
}

.main-foooter {
  display: flex;
}

.main-foooter__social-links {
  width: 267px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 30px;

  list-style: none;
}

.main-foooter__documents-links {
  display: flex;

  width: 560px;
}

.documents-links {
  padding-top: 35px;
  padding-bottom: 20px;
}

.documents-links__column-left {
  display: flex;
  flex-direction: column;
  width: 267px; 
  padding-left: 128px;
}

.documents-links__column-right {
  display: flex;
  flex-direction: column;
  width: 293px; 
  padding-left: 5px;
}

.documents-links__item:nth-child(n) {
  margin-right: 30px;
}

.documents-links__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.documents-links__link:hover,
.documents-links__link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.documents-links__link:first-child {
  margin-bottom: 4px;
}

.documents-links__link-heart {
  font-weight: 700;
}

.main-foooter__footer-copyright {
  width: 267px;
}

.main-foooter__footer-copyright {
  padding-top: 18px;
  padding-left: 80px;
  padding-bottom: 25px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.footer-copyright__link {
  color: #fefefe;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-copyright__link:hover,
.footer-copyright__link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}