@keyframes bounce {
  0%    { transform: translateY(-2000px); }
  70%   { transform: translateY(30px);    }
  90%   { transform: translateY(-10px);   }
  100%  { transform: translateY(0);       }
}

@keyframes shake {
  0%, 100%                { transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.theme-green {
  background-color: #849d8f;
}

.theme-blue {
  background-color: #8996a6;
}

.theme-pink {
  background-color: #9d8b84;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 10px 20px;

  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-image: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    -moz-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    -webkit-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    -ms-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);

  box-shadow: inset 0px 2px 2px 0px #942718;
}

.main-header {
  position: relative;
  z-index: 3;

  display: flex;
  align-items: center;
  margin-top: 9px;
}

.main-header__logo {
  margin-right: 10px;
}

.logo {
  width: 154px;
  height: 64px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu__item {
  position: relative;

  padding: 5px 0;
}

.main-menu__item:hover > .sub-menu {
  /* .main-menu__link:focus-within ~ .sub-menu { */
  visibility: visible;
}

.main-menu__link {
  display: block;
  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 15px;
}

.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active {
  color: #333333;
  background-color: #f7f6f3;
}

.main-menu__link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-menu__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu__link:hover::after,
.main-menu__link:focus::after {
  width: 0%;
}

.main-menu__item_current > .main-menu__link {
  color: #ffffff;
  background-color: #d07058;
  box-shadow: none;
}

.sub-menu {
  position: absolute;
  top: 42px;
  left: -7px;
  visibility: hidden;

  min-width: 143px;
  margin: 0;
  padding: 3px 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  list-style: none;
}

.sub-menu__item {
  padding: 2px 0;
}

.sub-menu__link {
  display: block;
  padding: 6px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sub-menu__link:hover {
  background-color: #fbded7;
}

.sub-menu__link:active {
  background-color: #f6b5a5;
}

.sub-menu__item_category {
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.sub-menu__item_category > .sub-menu__link {
  font-weight: 700;
  background-color: #f8f7f4;
}

.sub-menu__item_current > .sub-menu__link {
  color: #ffffff;
  background-color: #d07058;
}

.main-header__user-nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;

  list-style: none;
}

.user-nav__item {
  position: relative;
  margin-right: 10px;
  padding: 4px 0;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__link {
  display: block;
  padding: 6px 16px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-nav__link:hover,
.user-nav__link:focus,
.user-nav__link:active {
  color: #323232;
  background-color: rgb(248, 247, 244);
}

.user-nav__search-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
}

.user-nav__search-link:hover path,
.user-nav__search-link:focus path,
.user-nav__search-link:active path {
  fill: #000000;
}

.header-popap {
  position: absolute;
  top: 38px;
  right: 0;
  display: none;
  z-index: 2;
}

.search {
  width: 340px;
}

.user-nav__item:hover .search {
  display: block;
}

.search-form {
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form__item {
  margin: 0;
}

.search-form__input {
  box-sizing: border-box;
  width: 310px;
  padding: 9px 14px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form__input::-webkit-input-placeholder,
.search-form__input::placeholder {
  font-weight: 400;
  color: #999999;
}


.search-form__input:hover {
  padding: 8px 13px;
  border: 2px solid rgba(154, 154, 154, 0.52)
}

.user-nav__login-link {
  display: flex;
  align-items: center;
}

.user-nav__login-link svg {
  margin-right: 8px;
}

.user-nav__login-link:hover g,
.user-nav__login-link:focus g,
.user-nav__login-link:active g {
  fill: #000000;
}

.login {
  width: 277px;
}

.user-nav__item:hover .login {
  display: block;
}

.login-form {
  padding: 20px;
  padding-right: 17px;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form__item {
  margin: 0;
  margin-bottom: 20px;
}

.login-form__input {
  box-sizing: border-box;
  width: 240px;
  padding: 9px 14px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form__input::-webkit-input-placeholder,
.login-form__input::placeholder {
  font-weight: 400;
  color: #999999;
}

.login-form__input:hover {
  padding: 8px 13px;
  border: 2px solid rgba(154, 154, 154, 0.52)
}

.login-form__item-wrapper {
  display: flex;
}

.login-form__button {
  margin-right: 20px;
  padding: 9px 25px;
}

.login-form__link-wrapper {
  display: flex;
  flex-direction: column;
}

.login-form__link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: #b2b2b2;
}

.login-form__link:hover,
.login-form__link:active {
  color: #e84d37;
  text-decoration-color: #f9cdc4;
}

.user-nav__cart-link {
  display: flex;
  align-items: center;
  padding-right: 35px;
}

.user-nav__cart-link svg {
  margin-right: 8px;
}

.user-nav__cart-link_empty:hover g,
.user-nav__cart-link_empty:focus g,
.user-nav__cart-link_empty:active g {
  fill: #000000;
}

.user-nav__cart-link_full {
  position: relative;
}

.user-nav__item:hover .cart {
  display: flex;
}

.cart {
  flex-direction: column;

  width: 510px;
  padding: 20px 15px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart__table {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccccc9;
}

.cart__cell {
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

.cart__del-btn {
  position: relative;

  width: 11px;
  height: 11px;
  padding: 0;

  background: none;
  border: none;
  box-shadow: none;
}

.cart__del-btn::before,
.cart__del-btn::after {
  content: '';

  position: absolute;
  top: 10px;
  left: 1px;

  width: 13px;
  height: 1px;
  top: 5px;
  left: -1px;

  background-color: #323232;
  
  cursor: pointer;
}

.cart__del-btn::before {
  transform: rotate(45deg);
}

.cart__del-btn::after  {
  transform: rotate(-45deg);
}

.cart__img {
  width: 33px;
  height: 33px;
  vertical-align: top;
}

.cart__price {
  color: #999999;
}

.cart__total-price {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart__button {
  align-self: flex-end;
  padding: 10px 15px;
}

.main-header__contacts {
  position: absolute;
  right: 27px;
  top: 64px;
  z-index: 1;
}

.header-contacts {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contacts__phone {
  margin-top: 6px;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.header-contacts__phone:hover,
.header-contacts__phone:focus,
.header-contacts__phone:active {
  color: #ffbc9e;
}

.special-offers {
  margin-top: -73px;
  min-height: 880px;
}

.special-offers__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.special-offers__item {
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
  background-color: inherit;
  opacity: 0;
}

.special-offers__item_current {
  z-index: 1;
  opacity: 1;
  transition: opacity 2s;
}

.special-offers__content {
  position: relative;
  padding-top: 395px;
}

.special-offers__title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 60.35px;
}

.special-offers__img-wrapper {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  margin: 0;
  text-align: center;
}

.special-offers__controll {
  position: absolute;
  top: 563px;
  z-index: 1;
}

.slider-controll {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 80px;

  list-style: none;
}

.slider-controll__btn {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-controll__btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controll__btn:active {
  background-color: #fff;
}

.slider-controll__item_current .slider-controll__btn {
  background-color: #fff;
}

.special-offers__button {
  padding: 12px 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 40px;
}

.promo {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  margin-top: -240px;
  margin-bottom: 30px;
}

.promo__item {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 15px 20px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 20px;
}

.promo__item_raspberry {
  background-image: url(../img/bg-raspberries.jpg);
}

.promo__item_chocolate {
  background-image: url(../img/bg-chocolate.jpg);

}

.promo__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  margin: 0;
  margin-bottom: 43px;

  font-style: 18px;
}

.promo__button {
  align-self: flex-end;
  margin-bottom: 7px;
}

/*  Отказ от псевдо-элемента в пользу отдельного элемента в разметке для хита

.products_hits .products__item::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
} */

.products_flag-hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products_catalog {
  margin-bottom: 60px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
}

.products__item::after {
  content: '';

  position: absolute;
  top: -6px;
  left: -13px;
  z-index: -1;

  display: none;
  width: 293px;
  height: 405px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.products__item:hover {
  z-index: 1;
}

.products__item:hover::after {
  display: block;
}

.products__item:hover .products__button {
  display: block;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.products__img {
  order: -1;
  width: 267px;
  height: 267px;
  margin-bottom: 15px;

  border-radius: 50%;
}

.products__price {
  position: absolute;
  top: 214px;
  left: 0;

  margin: 0;

  font-size: 45px;
  line-height: 50px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.products__weight {
  position: relative;
  padding-left: 37px;
  font-size: 30px;
  line-height: 50px;
}

.products__weight::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 7px;
  width: 31px;
  height: 36px;
  background-image: url("../img/ruble.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.products__button {
  position: absolute;
  top: 334px;
  display: none;
}

.features {
  margin-bottom: 40px;
}

.features__content {
  padding: 25px 20px;
  color: #323232;
  background-color: #eee1c6;
  background-image: url(../img/bg-wafer.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 20px;
}

.features__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  padding-top: 15px;
  padding-left: 55px;
  width: 540px;
  box-sizing: border-box;

  font-weight: 400;
}

.features__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features__item_ice-cream::before {
  background-image: url(../img/ice-cream.svg);
}

.features__item_cow::before {
  background-image: url(../img/cow.svg);
}

.features__item_eco::before {
  background-image: url(../img/eco.svg);
}

.features__item_thermometer::before {
  background-image: url(../img/thermometer.svg);
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news {
  width: 560px;
  padding: 25px 20px;
  box-sizing: border-box;

  background-color: #fff;
  background-image: url(../img/bg-strawberry.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.news__title {
  margin: 0;
  margin-bottom: 2px;

  font: inherit;
  font-weight: 500;
  color: #323232;
}

.news__link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news__link:hover,
.news__link:active {
  color: #e84d37;
  text-decoration-color: #f9cdc4;
}

.subscribe {
  width: 560px;
  padding: 5px 6px;
  box-sizing: border-box;

  background-color: #e0d6dd;
  background-image: repeating-linear-gradient(135deg,
      #f8f7f4 0px, #f8f7f4 7px,
      #92cdff 7px, #92cdff 14px,
      #f8f7f4 14px, #f8f7f4 21px,
      #fe9e90 21px, #fe9e90 28px);
  border-radius: 20px;
}

.subscribe__wrapper {
  padding: 30px 20px;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form {
  display: flex;
  margin-bottom: 5px;
}

.subscribe-form__item {
  margin: 0;
}

.subscribe-form__input {
  width: 368px;
  padding: 9px 14px;
  margin-right: 10px;
  box-sizing: border-box;

  font: inherit;
  line-height: 24px;
  font-weight: 700;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.subscribe-form__input::-webkit-input-placeholder,
.subscribe-form__input::placeholder {
  font-weight: 400;
  color: #999999;
}

.subscribe-form__input:hover {
  padding: 8px 13px;
  border: 2px solid rgba(154, 154, 154, 0.52)
}

.contacts.container {
  position: relative;
  padding: 0;
}

.contacts__img-wrapper {
  margin: 0;
  width: 1200px;
  height: 430px;
}

.contacts__text-wrapper {
  position: absolute;
  top: 62px;
  right: 27px;

  width: 255px;
  padding: 30px 25px;
  
  color: #323232;
  background-color: #fefefe;
  border-radius: 25px;
}

.contacts__address-wrapper,
.contacts__phone-wrapper {
  margin: 0;
}

.contacts__address-wrapper {
  margin-bottom: 18px;
  
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__phone-wrapper {
  margin-bottom: 24px;

  font-style: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__phone {
  margin: 4px 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__button {
  padding: 10px 28px;
}

.page-title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 35px;
  line-height: 41px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-wrapper__breadcrumbs {
  order: -1;
  margin-bottom: 6px;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  content: '»';
  position: absolute;
  top: 0;
  right: -14px;
}

.breadcrumbs__item_current::after {
  display: none;
}

.breadcrumbs__link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 173, 159, 0.3);
}

.breadcrumbs__item_current .breadcrumbs__link {
  border-bottom: none;
}

.filters {
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 15px;
}

.filter-form__fieldset {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: none;
}

.filter-form__legend {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form__select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;

  padding: 9px 16px;
  padding-right: 32px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
}

.filter-form__item-select {
  position: relative;
  margin-bottom: 10px;
}

.filter-form__item-select::after {
  content: '';

  position: absolute;
  top: 41px;
  left: 168px;

  width: 11px;
  height: 11px;

  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__item-select:hover::after {
  width: 11px;
  height: 11px;
  
  background-image: url(../img/select-arrow-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__item-select:hover .filter-form__select {
  color: #323232;
}

.double-range {
  width: 218px;
}

.double-range__price-controls {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: 6px 17px;
}

.double-range__title {
  margin-right: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.double-range__price-controls::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 125px;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.double-range__input-wrapper {
  position: relative;
  padding-right: 30px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.double-range__input-wrapper_min {
  margin-right: 17px;
}

.double-range__input-wrapper::after {
  content: 'руб.';
  position: absolute;
  top: 0;
  right: 0;

  font: inherit;
}

.double-range__input {
  width: 27px;
  padding: 0;

  font: inherit;
  color: #ffffff;
  vertical-align: bottom;

  background: none;
  border: none;
}

.double-range__controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.double-range__scale {
  width: 176px;
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.double-range__bar {
  width: 106px;
  margin-left: 16px;
  height: 4px;

  background: #ffffff;
}

.double-range__toggle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.double-range__toggle:hover {
  top: 7px;
  border: 9px solid #ffffff;
}

.double-range__toggle_min {
  left: 36px;
}

.double-range__toggle_min:hover {
  left: 35px;
}

.double-range__toggle_max {
  right: 65px;
}

.double-range__toggle_max:hover {
  right: 64px;
}

.filter-form__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 14px;
  list-style: none;
  line-height: 36px;
  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.filter-form__option {
  margin-right: 20px;
}

.filter-form__label {
  position: relative;
  display: block;
  padding-left: 32px;

  font: inherit;
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  color: #ffffff;

  cursor: pointer;
  user-select: none;
}

.filter-form__label:hover {
  color: #ffffff;
}

.filter-form__input:disabled + .filter-form__label {
  color: rgba(255, 255, 255, 0.4);
}

.filter-form__checkbox + .filter-form__label::before {
  content: '';

  position: absolute;
  top: 8px;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-form__checkbox:checked + .filter-form__label::before {
  content: '';

  position: absolute;

  width: 24px;
  height: 20px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-form__checkbox:hover + .filter-form__label::before,
.filter-form__checkbox:checked:hover + .filter-form__label::before {
  opacity: 1;
}

.filter-form__checkbox:focus  + .filter-form__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-form__radio + .filter-form__label::before {
  content: '';

  position: absolute;
  top: 7px;
  left: 0;

  width: 22px;
  height: 22px;
  
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-form__radio:checked + .filter-form__label::before {
  content: '';

  position: absolute;
  top: 7px;
  left: 0;

  width: 22px;
  height: 22px;
  
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-form__radio:hover + .filter-form__label::before,
.filter-form__radio:checked:hover + .filter-form__label::before {
  opacity: 1;
}

.filter-form__radio:focus  + .filter-form__label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-form__checkbox:disabled + .filter-form__label::before,
.filter-form__checkbox:disabled:hover + .filter-form__label::before, /*не пойму, почему срабатывает hover на disabled */
.filter-form__radio:disabled + .filter-form__label::before,
.filter-form__radio:disabled:hover + .filter-form__label::before { /* по аналогии с checkbox оставлю это здесь, хотя работало и без этого*/
  opacity: 0.4;
}

.filter-form__button {
  align-self: flex-end;
  
  height: 36px;
  padding: 7px 30px;
  box-sizing: border-box;
  
  line-height: 18px;
  
  background-image: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-shadow: none;
}

.filter-form__button:hover,
.filter-form__button:focus {
  color: #323232;
  background-color: #ffffff;
  background-image: none;
  border: none;
  box-shadow: none;
}

.filter-form__button:active {
  color: #323232;
  background-color: #ededed;
  background-image: none;
  border: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  margin-right: 2px;
}

.pagination__item:last-child {
  margin-right: 0;
}


.pagination__link {
  display: inline-block;
  width: 27px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 50%;
}

.pagination__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination__item__current .pagination__link {
  color: #323232;
  background-color: #ffffff;
}

.pagination__button {
  position: relative;
  padding: 0;
  width: 22px;
  height: 27px;
  border: none;
  background-color: transparent;
}

.pagination__button::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.pagination__button-prev::after {
  content: '<';
  
}

.pagination__button-next::after {
  content: '>';
}

.pagination__button:disabled::after {
  color: rgba(255, 255, 255, 0.2);
  cursor: inherit;
}

.main-foooter {
  display: flex;
}

.main-foooter__social {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  
  width: 267px;

  list-style: none;
}

.social__item {
  margin-right: 11px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social__btn:hover path,
.social__btn:hover g,
.social__btn:focus path,
.social__btn:focus g,
.social__btn:active path,
.social__btn:active g {
  fill: #ffffff;
}

.main-foooter__documents-links {
  display: flex;

  width: 560px;
}

.documents-links {
  padding-top: 35px;
  padding-bottom: 20px;
}

.documents-links__column-left {
  display: flex;
  flex-direction: column;
  width: 267px; 
  padding-left: 128px;
}

.documents-links__column-right {
  display: flex;
  flex-direction: column;
  width: 293px; 
  padding-left: 5px;
}

.documents-links__item:nth-child(n) {
  margin-right: 30px;
}

.documents-links__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.documents-links__link-heart {
  position: relative;
}

.documents-links__link-heart::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.documents-links__link:hover,
.documents-links__link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.documents-links__link:first-child {
  margin-bottom: 4px;
}

.documents-links__link-heart {
  font-weight: 700;
}

.main-foooter__footer-copyright {
  width: 267px;
}

.main-foooter__footer-copyright {
  padding-top: 18px;
  padding-left: 80px;
  padding-bottom: 25px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.footer-copyright__link {
  color: #fefefe;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-copyright__link:hover,
.footer-copyright__link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  z-index: 4;

  display: none;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.overlay-show {
  display: block;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;
  padding: 0;

  border: none;
  background: none;

  cursor: pointer;
}

.modal__close-btn::before,
.modal__close-btn::after {
  content: '';

  position: absolute;
  top: 8px;
  left: -3px;

  width: 24px;
  height: 3px;
  background-color: #323232;
}

.modal__close-btn::before {
  transform: rotate(45deg);
}

.modal__close-btn::after  {
  transform: rotate(-45deg);
}

.modal-feedback {
  top: 340px;
  left: 50%;
  margin-left: -240px;
  
  width: 430px;
  padding: 16px 24px;
  
  border-radius: 10px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form__item {
  margin: 0;
  margin-bottom: 20px
}

.feedback-form__input,
.feedback-form__textarea {
  width: 267px;
  padding: 9px 14px;
  box-sizing: border-box;
  
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback-form__input::-webkit-input-placeholder,
.feedback-form__textarea::-webkit-input-placeholder,
/* .feedback-form__input:-ms-input-placeholder,  Не работает*/
/* .feedback-form__textarea:-ms-input-placeholder, Не работает */
.feedback-form__input::placeholder,
.feedback-form__textarea::placeholder {
  font-weight: 400;
  color: #999999;
}


.feedback-form__input:hover,
.feedback-form__textarea:hover {
  padding: 8px 13px;
  border: 2px solid rgba(154, 154, 154, 0.52)
}

.feedback-form__textarea {
  width: 428px;
  height: 135px;
}

.feedback-form__button {
  margin-bottom: 10px;
  align-self: flex-end;
  padding: 10px 24px;
}