.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.theme-green {
  background-color: #849d8f;
}

.theme-blue {
  background-color: #8996a6;
}

.theme-pink {
  background-color: #9d8b84;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
}

.header-contacts__phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.main-nav a {
  color: #ffffff;
}

.site-nav,
.user-nav,
.submenu {
  list-style: none;
}

.site-nav {
  line-height: 18px;
}

.user-nav {
  font-size: 14px;
  line-height: 16px;
}